/.metadata/
/MAMAN_11_Question_1/nbproject/private/
/MAMAN_11_Question_1/build/
/MAMAN_11_Question_1/dist/
/MAMAN11_Question2/nbproject/private/
/MAMAN11_Question2/build/
/MAMAN11_Question2/dist/
/MAMAN 12/MAMAN_12_Question_1/target/
